.content center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
.content center img {
    max-width: 88%;
}
.content center span {
    font-size: 12px;
    color: #646464;
    font-weight: 600;
}

.sway {
    animation: sway 0.33s ease-in-out infinite normal;
    /* animation: sway 5s ease-out infinite normal; */
    display: inline-block;
}

@keyframes sway {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg) scale(1);
    }
    16.7% {
        transform: translate(-0.5px, -0.5px) rotate(3deg);
    }
    33.4% {
        transform: translate(-0.5px, 0.5px) rotate(-3deg);
    }
    50% {
        transform: translate(0, 0) rotate(0deg) scale(1.1);
    }
    67.7% {
        transform: translate(0.5px, -0.5px) rotate(-3deg);
    }
    84.4% {
        transform: translate(0.5px, 0.5px) rotate(3deg);
    }
}

.site-title {
    opacity: 0;
}

.sway {
  user-select: none;
  text-decoration: none;
  border: none;
  background: var(--gradient);
  background-clip: text;
  background-size: 200% auto;
  color: transparent !important;
  display: inline-block;
  animation: shine 1s linear 1;
  
  &:hover {
      animation: shine 1s linear infinite;
  }

  &:active {
    color: #00000055 !important;
  }
}

/* .site-title {
    background: var(--gradient);
    background-clip: text;
    background-size: 200% auto;
    animation: shine 1s linear infinite;
    color: transparent !important;
    display: inline-block;
}
.site-title:hover {
    background: var(--gradient);
    background-clip: text;
    background-size: 200% auto;
    animation: shine 1s linear infinite;
    color: transparent !important;
    display: inline-block;
}
.site-title:active {
    color: #00000033 !important;
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}

:root[data-color-scheme="dark"] .site-title {
    background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8);
    background-clip: border-box;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

@media (prefers-color-scheme: dark) {
    :root[data-color-scheme="auto"] .site-title {
        background: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8);
        background-clip: border-box;
        background-clip: text;
        color: transparent;
        display: inline-block;
    }
} */
